# Loops

## The while loop

### while loop

The while loop is like a repeated if statement. The code is executed over and over again, as long as the condition is `True`.

In [17]:
# Create the variable offset with an initial integer value
offset = -5

# Code a while loop that keeps running as long as offset is not equal to 0 
# Inside the while loop:
# Print out the sentence "correcting..."
# If offset is greater than zero, you should decrease offset by 1
# Else, you should increase offset by 1
# Finally, still within your loop, print out offset so you can see how it changes

while offset != 0:
    print('correcting...')
    
    if offset > 0:
        offset-=1
    else:
        offset+=1

    print(offset)

correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

## The for loop

### for loop

A for loop is useful for executing a code block a certain number of times, or executing it on each element of a data structure.

In [18]:
# Create a for loop that on each run prints a line of the form "room x: y", where x is the index of the list element and y is the actual list element, for the elements in areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for i, a in enumerate(areas):
    print('Room ' + str(i) + ': ' + str(a))

Room 0: 11.25
Room 1: 18.0
Room 2: 20.0
Room 3: 10.75
Room 4: 9.5

### Loop over lists of lists

In [19]:
# Write a for loop that goes through each sublist of house and prints out 'the x is y sqm', where x is the name of the room and y is the area of the room
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]

for i in house:
    print('The ' + i[0] + ' is ' + str(i[1]) + ' sqm')

The hallway is 11.25 sqm
The kitchen is 18.0 sqm
The living room is 20.0 sqm
The bedroom is 10.75 sqm
The bathroom is 9.5 sqm

## Loop over data structures

### Loop over a dictionary

In [20]:
# Write a for loop that goes through each key:value pair of europe 
# On each iteration, "the capital of x is y" should be printed out, where x is the key and y is the value of the pair
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

for key, val in europe.items():
    print('The capital of ' + key + ' is ' + val)

The capital of spain is madrid
The capital of france is paris
The capital of germany is berlin
The capital of norway is oslo
The capital of italy is rome
The capital of poland is warsaw
The capital of austria is vienna

### Loop over a NumPy array

In [21]:
import numpy as np

baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

np_baseball = np.array(baseball)

# Write a for loop that visits every element of the np_baseball array and prints it out
for i in np.nditer(np_baseball):
    print(i)

180.0
78.4
215.0
102.7
210.0
98.5
188.0
75.2

### Loop over a DataFrame

In [22]:
import pandas as pd
cars = pd.read_csv('./data/cars.csv', index_col=0)

# Create a for loop that prints 'country: cars_per_cap' for each row in cars
for lab, row in cars.iterrows():
    print(lab + ': ' + str(row['cars_per_cap']))

US: 809
AUS: 731
JPN: 588
IN: 18
RU: 200
MOR: 70
EG: 45

### Using a loop to create a new column of a DataFrame

In [23]:
# Use a for loop to add a new column, named COUNTRY, that contains a uppercase version of the country names in the "country" column of cars
for lab, row in cars.iterrows():
    cars.loc[lab, 'COUNTRY'] = str.upper(row['country'])

cars

           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  UNITED STATES
AUS      Australia         False           731      AUSTRALIA
JPN          Japan         False           588          JAPAN
IN           India         False            18          INDIA
RU          Russia          True           200         RUSSIA
MOR        Morocco          True            70        MOROCCO
EG           Egypt          True            45          EGYPT

In [24]:
# Complete the same task as before, but use the apply method instead a for loop
cars = pd.read_csv('./data/cars.csv', index_col=0)

cars['COUNTRY'] = cars['country'].apply(str.upper)
cars

           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  UNITED STATES
AUS      Australia         False           731      AUSTRALIA
JPN          Japan         False           588          JAPAN
IN           India         False            18          INDIA
RU          Russia          True           200         RUSSIA
MOR        Morocco          True            70        MOROCCO
EG           Egypt          True            45          EGYPT