# Slicing and indexing DataFrames

In this module, you'll be exploring temperatures, a DataFrame of average temperatures in cities around the world.

In [ ]:
import pandas as pd 
temperatures = pd.read_csv('/work/data_science_notes/3. Data manipulation with pandasw/data/temperatures.csv', index_col=0)
temperatures.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

## Explicit indexes

### Setting and removing indexes

In [ ]:
# Look at temperatures
temperatures.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16500 entries, 0 to 16499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        16500 non-null  object
 1   city        16500 non-null  object
 2   country     16500 non-null  object
 3   avg_temp_c  16407 non-null  float64
dtypes: float64(1), object(3)
memory usage: 644.5+ KB

In [ ]:
# Set the index of temperatures to "city", assigning to temperatures_ind
temperatures_ind = temperatures.set_index('city')

In [ ]:
# Look at temperatures_ind. 
# How is it different from temperatures?
temperatures_ind.head()

               date        country  avg_temp_c
city
Abidjan  2000-01-01  Côte D'Ivoire      27.293
Abidjan  2000-02-01  Côte D'Ivoire      27.685
Abidjan  2000-03-01  Côte D'Ivoire      29.061
Abidjan  2000-04-01  Côte D'Ivoire      28.162
Abidjan  2000-05-01  Côte D'Ivoire      27.547

In [ ]:
# Reset the index of temperatures_ind, keeping its contents
temperatures_ind = temperatures_ind.reset_index(drop=False)
temperatures_ind.head()

      city        date        country  avg_temp_c
0  Abidjan  2000-01-01  Côte D'Ivoire      27.293
1  Abidjan  2000-02-01  Côte D'Ivoire      27.685
2  Abidjan  2000-03-01  Côte D'Ivoire      29.061
3  Abidjan  2000-04-01  Côte D'Ivoire      28.162
4  Abidjan  2000-05-01  Côte D'Ivoire      27.547

In [ ]:
# Reset the index of temperatures_ind, dropping its contents
temperatures_ind = temperatures.set_index('city')
temperatures_ind = temperatures_ind.reset_index(drop=True)
temperatures_ind.head()

         date        country  avg_temp_c
0  2000-01-01  Côte D'Ivoire      27.293
1  2000-02-01  Côte D'Ivoire      27.685
2  2000-03-01  Côte D'Ivoire      29.061
3  2000-04-01  Côte D'Ivoire      28.162
4  2000-05-01  Côte D'Ivoire      27.547

### Subsetting with .loc[]

In [ ]:
# Create a list called cities that contains "Moscow" and "Saint Petersburg"
cities = ["Moscow", "Saint Petersburg"]

In [ ]:
# Use [] subsetting to filter temperatures for rows where the city column takes a value in the cities list
temperatures[temperatures.city.isin(cities)]

             date              city country  avg_temp_c
10725  2000-01-01            Moscow  Russia      -7.313
10726  2000-02-01            Moscow  Russia      -3.551
10727  2000-03-01            Moscow  Russia      -1.661
10728  2000-04-01            Moscow  Russia      10.096
10729  2000-05-01            Moscow  Russia      10.357
...           ...               ...     ...         ...
13360  2013-05-01  Saint Petersburg  Russia      12.355
13361  2013-06-01  Saint Petersburg  Russia      17.185
13362  2013-07-01  Saint Petersburg  Russia      17.234
13363  2013-08-01  Saint Petersburg  Russia      17.153
13364  2013-09-01  Saint Petersburg  Russia         NaN

[330 rows x 4 columns]

In [ ]:
# Use .loc[] subsetting to filter temperatures_ind for rows where the city is in the cities list
temperatures_ind = temperatures.set_index('city')
temperatures_ind.loc[cities]

# ERROR! To filter in this way the variable needs to be set as the DF index

                       date country  avg_temp_c  year
city
Moscow           2000-01-01  Russia      -7.313  2000
Moscow           2000-02-01  Russia      -3.551  2000
Moscow           2000-03-01  Russia      -1.661  2000
Moscow           2000-04-01  Russia      10.096  2000
Moscow           2000-05-01  Russia      10.357  2000
...                     ...     ...         ...   ...
Saint Petersburg 2013-05-01  Russia      12.355  2013
Saint Petersburg 2013-06-01  Russia      17.185  2013
Saint Petersburg 2013-07-01  Russia      17.234  2013
Saint Petersburg 2013-08-01  Russia      17.153  2013
Saint Petersburg 2013-09-01  Russia         NaN  2013

[330 rows x 4 columns]

### Setting multi-level indexes

In [ ]:
# Set the index of temperatures to the "country" and "city" columns, and assign this to temperatures_ind
temperatures_ind = temperatures.set_index(['country', 'city'])

In [ ]:
# Specify two country/city pairs to keep: "Brazil"/"Rio De Janeiro" and "Pakistan"/"Lahore", assigning to rows_to_keep
rows_to_keep = [('Brazil', 'Rio De Janeiro'), ('Pakistan', 'Lahore')]

In [ ]:
# Print and subset temperatures_ind for rows_to_keep using .loc[]
temperatures_ind.loc[rows_to_keep]

                              date  avg_temp_c  year
country  city
Brazil   Rio De Janeiro 2000-01-01      25.974  2000
         Rio De Janeiro 2000-02-01      26.699  2000
         Rio De Janeiro 2000-03-01      26.270  2000
         Rio De Janeiro 2000-04-01      25.750  2000
         Rio De Janeiro 2000-05-01      24.356  2000
...                            ...         ...   ...
Pakistan Lahore         2013-05-01      33.457  2013
         Lahore         2013-06-01      34.456  2013
         Lahore         2013-07-01      33.279  2013
         Lahore         2013-08-01      31.511  2013
         Lahore         2013-09-01         NaN  2013

[330 rows x 3 columns]

## Working with pivot tables

### Pivot temperature by city and year

In [ ]:
# Add a year column to temperatures, from the year component of the date column
temperatures['date'] = pd.to_datetime(temperatures.date)
temperatures['year'] = temperatures.date.dt.year

In [ ]:
# Make a pivot table of the avg_temp_c column, with country and city as rows, and year as columns 
# Assign to temp_by_country_city_vs_year, and look at the result

temp_by_country_city_vs_year = temperatures.pivot_table(values='avg_temp_c', index=['country', 'city'], columns='year')
temp_by_country_city_vs_year

year                                 2000       2001       2002       2003  \
country       city
Afghanistan   Kabul             15.822667  15.847917  15.714583  15.132583
Angola        Luanda            24.410333  24.427083  24.790917  24.867167
Australia     Melbourne         14.320083  14.180000  14.075833  13.985583
              Sydney            17.567417  17.854500  17.733833  17.592333
Bangladesh    Dhaka             25.905250  25.931250  26.095000  25.927417
...                                   ...        ...        ...        ...
United States Chicago           11.089667  11.703083  11.532083  10.481583
              Los Angeles       16.643333  16.466250  16.430250  16.944667
              New York           9.969083  10.931000  11.252167   9.836000
Vietnam       Ho Chi Minh City  27.588917  27.831750  28.064750  27.827667
Zimbabwe      Harare            20.283667  20.861000  21.079333  20.889167

year                                 2004       2005       2006       2007  \
country       city
Afghanistan   Kabul             16.128417  14.847500  15.798500  15.518000
Angola        Luanda            24.216167  24.414583  24.138417  24.241583
Australia     Melbourne         13.742083  14.378500  13.991083  14.991833
              Sydney            17.869667  18.028083  17.749500  18.020833
Bangladesh    Dhaka             26.136083  26.193333  26.440417  25.951333
...                                   ...        ...        ...        ...
United States Chicago           10.943417  11.583833  11.870500  11.448333
              Los Angeles       16.552833  16.431417  16.623083  16.699917
              New York          10.389500  10.681417  11.519250  10.627333
Vietnam       Ho Chi Minh City  27.686583  27.884000  28.044000  27.866667
Zimbabwe      Harare            20.307667  21.487417  20.699750  20.746250

year                                 2008       2009       2010       2011  \
country       city
Afghanistan   Kabul             15.479250  15.093333  15.676000  15.812167
Angola        Luanda            24.266333  24.325083  24.440250  24.150750
Australia     Melbourne         14.110583  14.647417  14.231667  14.190917
              Sydney            17.321083  18.175833  17.999000  17.713333
Bangladesh    Dhaka             26.004500  26.535583  26.648167  25.803250
...                                   ...        ...        ...        ...
United States Chicago           10.242417  10.298333  11.815917  11.214250
              Los Angeles       17.014750  16.677000  15.887000  15.874833
              New York          10.641667  10.141833  11.357583  11.272250
Vietnam       Ho Chi Minh City  27.611417  27.853333  28.281750  27.675417
Zimbabwe      Harare            20.680500  20.523833  21.165833  20.781750

year                                 2012       2013
country       city
Afghanistan   Kabul             14.510333  16.206125
Angola        Luanda            24.240083  24.553875
Australia     Melbourne         14.268667  14.741500
              Sydney            17.474333  18.089750
Bangladesh    Dhaka             26.283583  26.587000
...                                   ...        ...
United States Chicago           12.821250  11.586889
              Los Angeles       17.089583  18.120667
              New York          11.971500  12.163889
Vietnam       Ho Chi Minh City  28.248750  28.455000
Zimbabwe      Harare            20.523333  19.756500

[100 rows x 14 columns]

### Subsetting pivot tables

In [ ]:
# Use .loc[] on temp_by_country_city_vs_year to take subsets.

# From Egypt to India
temp_by_country_city_vs_year.loc['Egypt':'India']

year                       2000       2001       2002       2003       2004  \
country  city
Egypt    Alexandria   20.744500  21.454583  21.456167  21.221417  21.064167
         Cairo        21.486167  22.330833  22.414083  22.170500  22.081917
         Gizeh        21.486167  22.330833  22.414083  22.170500  22.081917
Ethiopia Addis Abeba  18.241250  18.296417  18.469750  18.320917  18.292750
France   Paris        11.739667  11.371250  11.871333  11.909500  11.338833
Germany  Berlin       10.963667   9.690250  10.264417  10.065750   9.822583
India    Ahmadabad    27.436000  27.198083  27.719083  27.403833  27.628333
         Bangalore    25.337917  25.528167  25.755333  25.924750  25.252083
         Bombay       27.203667  27.243667  27.628667  27.578417  27.318750
         Calcutta     26.491333  26.515167  26.703917  26.561333  26.634333
         Delhi        26.048333  25.862917  26.634333  25.721083  26.239917
         Hyderabad    27.231833  27.555167  27.665167  27.844583  27.228500
         Jaipur       26.430250  26.023000  27.031667  26.027417  26.642167
         Kanpur       25.353917  25.326500  26.116833  25.409083  25.586500
         Lakhnau      25.353917  25.326500  26.116833  25.409083  25.586500
         Madras       28.811667  29.162917  29.246500  29.273083  28.810917
         Nagpur       26.181417  26.321667  26.753000  26.503833  26.406333
         New Delhi    26.048333  25.862917  26.634333  25.721083  26.239917
         Pune         25.110917  25.337833  25.583000  25.748417  25.316167
         Surat        27.029000  26.897250  27.347750  27.230917  27.290583

year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Alexandria   21.082333  21.148167  21.507750  21.739000  21.670500
         Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250
         Hyderabad    27.488833  27.471000  27.545333  27.446667  28.026500
         Jaipur       25.772250  26.429833  26.267000  25.877583  26.919500
         Kanpur       25.621500  25.848833  25.436083  25.109750  25.987083
         Lakhnau      25.621500  25.848833  25.436083  25.109750  25.987083
         Madras       29.099417  29.073250  28.970167  29.024083  29.417417
         Nagpur       26.229167  26.374833  26.393667  26.188000  27.138917
         New Delhi    25.716083  26.365917  26.145667  25.675000  26.554250
         Pune         25.085583  25.310167  25.584833  25.230250  25.868250
         Surat        26.724500  27.149417  27.311750  26.828750  27.819833

year                       2010       2011       2012       2013
country  city
Egypt    Alexandria   22.459583  21.181500  21.552583  21.438500
         Cairo        23.718250  21.986917  22.484250  22.907000
         Gizeh        23.718250  21.986917  22.484250  22.907000
Ethiopia Addis Abeba  18.298250  18.606750  18.448583  19.539000
France   Paris        10.409833  12.325750  11.219917  11.011625
Germany  Berlin        8.606833  10.556417   9.964333  10.121500
India    Ahmadabad    28.017833  27.290417  27.027250  27.608625
         Bangalore    25.705250  25.362083  26.042333  26.610500
         Bombay       27.765417  27.384917  27.192500  26.713000
         Calcutta     27.288833  26.406917  26.935083  27.369250
         Delhi        26.520250  25.629500  25.889417  26.709250
         Hyderabad    27.693417  27.408833  28.018583  28.851250
         Jaipur       26.818417  25.916500  25.884500  26.844125
         Kanpur       26.021750  25.062083  25.445417  26.121250
         Lakhnau      26.021750  25.062083  25.445417  26.121250
         Madras       29.047333  29.063167  29.778417  30.411750
         Nagpur       26.927000  26.004667  26.327917  27.112375
         New Delhi    26.520250  25.629500  25.889417  26.709250
         Pune         25.749167  25.161417  25.296833  25.847625
         Surat        27.681667  27.016583  26.889250  27.437750

In [ ]:
# From Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[('Egypt', 'Cairo'):('India', 'Delhi')]

year                       2000       2001       2002       2003       2004  \
country  city
Egypt    Cairo        21.486167  22.330833  22.414083  22.170500  22.081917
         Gizeh        21.486167  22.330833  22.414083  22.170500  22.081917
Ethiopia Addis Abeba  18.241250  18.296417  18.469750  18.320917  18.292750
France   Paris        11.739667  11.371250  11.871333  11.909500  11.338833
Germany  Berlin       10.963667   9.690250  10.264417  10.065750   9.822583
India    Ahmadabad    27.436000  27.198083  27.719083  27.403833  27.628333
         Bangalore    25.337917  25.528167  25.755333  25.924750  25.252083
         Bombay       27.203667  27.243667  27.628667  27.578417  27.318750
         Calcutta     26.491333  26.515167  26.703917  26.561333  26.634333
         Delhi        26.048333  25.862917  26.634333  25.721083  26.239917

year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250

year                       2010       2011       2012       2013
country  city
Egypt    Cairo        23.718250  21.986917  22.484250  22.907000
         Gizeh        23.718250  21.986917  22.484250  22.907000
Ethiopia Addis Abeba  18.298250  18.606750  18.448583  19.539000
France   Paris        10.409833  12.325750  11.219917  11.011625
Germany  Berlin        8.606833  10.556417   9.964333  10.121500
India    Ahmadabad    28.017833  27.290417  27.027250  27.608625
         Bangalore    25.705250  25.362083  26.042333  26.610500
         Bombay       27.765417  27.384917  27.192500  26.713000
         Calcutta     27.288833  26.406917  26.935083  27.369250
         Delhi        26.520250  25.629500  25.889417  26.709250

In [ ]:
# From Egypt, Cairo to India, Delhi, and 2005 to 2010
temp_by_country_city_vs_year.loc[('Egypt', 'Cairo'):('India', 'Delhi'), 2005:2010]

year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250

year                       2010
country  city
Egypt    Cairo        23.718250
         Gizeh        23.718250
Ethiopia Addis Abeba  18.298250
France   Paris        10.409833
Germany  Berlin        8.606833
India    Ahmadabad    28.017833
         Bangalore    25.705250
         Bombay       27.765417
         Calcutta     27.288833
         Delhi        26.520250

### Calculating on a pivot table

In [ ]:
# Calculate the mean temperature for each year, assigning to mean_temp_by_year
mean_temp_by_year = temp_by_country_city_vs_year.mean()
mean_temp_by_year

year
2000    19.506243
2001    19.679352
2002    19.855685
2003    19.630197
2004    19.672204
2005    19.607239
2006    19.793993
2007    19.854270
2008    19.608778
2009    19.833752
2010    19.911734
2011    19.549197
2012    19.668239
2013    20.312285
dtype: float64

In [ ]:
# Filter mean_temp_by_year for the year that had the highest mean temperature
mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()]

year
2013    20.312285
dtype: float64

In [ ]:
# Calculate the mean temperature for each city (across columns), assigning to mean_temp_by_city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis='columns')

In [ ]:
# Filter mean_temp_by_city for the city that had the lowest mean temperature
mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()]

country  city
China    Harbin    4.876551
dtype: float64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=8c91f87e-48d2-4010-b7ff-56410ab49fe5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>